#email {
	-fx-background-color: red, white ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
	}
	
#pwd {
	-fx-background-color: red, white ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
	
}

#buco {
	-fx-background-color: 
        red;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}
#buco:pressed{
	-fx-background-color: 
        grey;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
	
}

#forgot{
	-fx-background-color: 
        red;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

#forgot:pressed{
	-fx-background-color: 
        grey;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.root {
	-fx-background-color: white;
}
